<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Responsive Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="/static/css/menu.css"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- or -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Using SweetAlert2 from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxs-registered icon"></i>
        <div class="logo_name">Retro<span id="cinema">Cinema</span></div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..."/>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-user"></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-movie"></i>
                <span class="links_name">Movies</span>
            </a>
            <span class="tooltip">Movies</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-beer"></i>
                <span class="links_name">Products</span>
            </a>
            <span class="tooltip">Products</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-chair"></i>
                <span class="links_name">Rooms</span>
            </a>
            <span class="tooltip">Rooms</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-tv"></i>
                <span class="links_name">Screenings</span>
            </a>
            <span class="tooltip">Screenings</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cart-alt"></i>
                <span class="links_name">Bookings</span>
            </a>
            <span class="tooltip">Bookings</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="profile.jpg" alt="profileImg"/>
                <div class="name_job">
                    <div class="name">Username</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <h1 class="table-header">PRODUCTS</h1>
    <div class="container">
        <!-- Button Search and Add-->
        <div class="table-function">
            <a th:href="@{/products/addProduct}" class="function-btn" id="add">
                <i class="bx bx-folder-plus"></i>
            </a>
            <div class="search-box">
                <input
                        type="search"
                        name=""
                        id="search-input"
                        placeholder="Search"
                />
                <i class="bx bx-search"></i>
            </div>
        </div>
        <table>
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Img</th>
                <th>Function</th>
            </tr>
            <tr th:each="p,status:${productsList}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.productName}"></td>
                <td th:text="${p.price +' $'}"></td>
                <td>
                    <img
                            th:src="@{${p.img}}"
                            alt=""
                            style="height: 5rem;width: 5rem"
                    />
                </td>
                <td id="function">
                    <a href="#" class="function-btn" id="detail">
                        <i class="bx bx-info-circle"></i>
                    </a>
                    <a href="#" class="function-btn" id="delete">
                        <i class="bx bx-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <!-- Pagination Start -->
    <div class="pagination">
        <a href="#" class="pagination-button" id="previous">
            <i class="bx bx-left-arrow-circle"></i>
        </a>
        <a href="#" class="pagination-button" id="next">
            <i class="bx bx-right-arrow-circle"></i>
        </a>
    </div>
    <!-- Pagination End -->
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });
    searchBtn.addEventListener("click", () => {
        // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
        }
    }
</script>


<!-- Delete with sweet alert -->
<script>
    function deleteBySwal(name) {
        Swal.fire({
            title: "Are you want to delete" + name + "?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
        }).then((result) => {
            if (result.isConfirmed) {
                // Href
                Swal.fire("Deleted!", "Your file has been deleted.", "success");
            }
        });
    }
</script>
</body>
</html>
