    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Details</title>
<!--    bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/home.css" />
    <!-- Box Icon -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- or -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <style>
        .content {
            margin-top: 1rem;
        }

    </style>
</head>
<body>
<!-- Header -->
<header>
   <section th:replace="/nav_bar"></section>
</header>

<!-- Play Movie Container -->
<div class="play-container container">
    <!-- Play Image -->
    <img
            th:src="${movie.imgTrailer}"
            alt=""
            class="play-img"
    />
    <!-- Play Text -->
    <div class="play-text">
        <h2 th:text="${movie.getMovieName()}"></h2>
        <!-- Ratings -->
        <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star-half"></i>
        </div>
        <!-- Tags -->
        <div class="tags">
            <span th:text="${movie.movieTypes.getMovieTypes()}"></span>
            <span>4K</span>
        </div>
        <!-- Trailer Button -->
        <a href="/movie" class="promo-button">
            <i class="bx bx-arrow-back"></i>
            <span>Back</span>
        </a>

        <a th:href="@{/movie/edit(id=${movie.id})}" class="promo-button" style="margin-top: 1rem">
            <i class="bx bx-cut"></i>
            <span>Edit Movie</span>
        </a>
    </div>

    <!-- Play Button -->
    <i class="bx bx-play-circle play-movie"></i>

    <!-- Video Container -->
    <div class="video-container">
        <!-- Video-box -->
        <div class="video-box">
            <video
                    id="myvideo"
                    th:src="${movie.trailer}"
                    controls
            ></video>
            <!-- Close Video Icon -->
            <i class="bx bx-x close-video"></i>
        </div>
    </div>
</div>

<div class="content container">
    <div class="content-text">
        <span style="color: var(--main-color)">Director :</span>
        <span style="padding-left: 0.3rem" th:text="${movie.getDirector()}"></span>
    </div>
</div>

<div class="content container">
    <div class="content-text">
        <span style="color: var(--main-color)">Performers:</span>
        <span style="padding-left: 0.3rem" th:text="${movie.getPerformer()}"></span>
    </div>
</div>

<div class="content container">
    <div class="content-text">
        <p style="color: var(--main-color)">Description:</p>
        <p th:text="${movie.getDescription()}"></p>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="info container">
        <div class="info-text">
            <p>280 Tran Hung Dao Street, Da Nang City, Viet Nam</p>
            <p>RETRO CINEMA &copy; COPYRIGHT 2023 ALL RIGHTS RESERVED</p>
        </div>
        <div class="info-logo">
            <a href="https://www.facebook.com" class="info-logo-item"
            ><i class="bx bxl-facebook-square"></i
            ></a>
            <a href="https://www.instagram.com" class="info-logo-item"
            ><i class="bx bxl-instagram"></i
            ></a>
            <a href="https://www.youtube.com" class="info-logo-item"
            ><i class="bx bxl-youtube"></i
            ></a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!-- Link Swiper JS -->
<script src="/js/swiper-bundle.min.js"></script>
<!-- Link to main js -->
<script src="/js/home.js"></script>
</body>
</html>
