<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Responsive Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="/static/css/menu.css"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- or -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Using SweetAlert2 from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .swal2{
            font-size: 20px;
        }
    </style>
</head>
<body>
<!--Toast-->
<div th:if="${param.message}">
    <span th:text="${param.message}" id="message" style="display: none"></span>
</div>
<div th:if="${message}">
    <span th:text="${message}" id="message" style="display: none"></span>
</div>

<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxs-registered icon"></i>
        <div class="logo_name">Retro<span id="cinema">Cinema</span></div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..."/>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-user"></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-movie"></i>
                <span class="links_name">Movies</span>
            </a>
            <span class="tooltip">Movies</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-beer"></i>
                <span class="links_name">Products</span>
            </a>
            <span class="tooltip">Products</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-chair"></i>
                <span class="links_name">Rooms</span>
            </a>
            <span class="tooltip">Rooms</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-tv"></i>
                <span class="links_name">Screenings</span>
            </a>
            <span class="tooltip">Screenings</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cart-alt"></i>
                <span class="links_name">Bookings</span>
            </a>
            <span class="tooltip">Bookings</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="profile.jpg" alt="profileImg"/>
                <div class="name_job">
                    <div class="name">Username</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <h1 class="table-header">Movie</h1>
    <div class="container">
        <!-- Button Search and Add-->
        <div class="table-function">
            <a th:href="@{/movie/create}" class="function-btn" id="add">
                <i class="bx bx-folder-plus"></i>
            </a>
            <div class="search-box">
                <form id="search-form" th:action="@{/movie}" style="display:flex;">
                    <input
                            type="search"
                            th:name="name"
                            id="search-input"
                            placeholder="Search"
                    />
                    <i class="bx bx-search" id="search-icon" style="margin-top: auto"></i>
                </form>
            </div>
        </div>
        <table>
            <tr>
                <th>#</th>
                <th>Movie Name</th>
                <th>Release Date</th>
                <th>Director</th>
                <th>Duration</th>
                <th>Movie Types</th>
                <th>Function</th>
            </tr>
            <tr th:each="m, status:${moviePage}">
                <td th:text="${moviePage.number*5+status.count}"></td>
                <td th:text="${#strings.abbreviate(m.movieName,25)}"></td>
                <td th:text="${m.releaseDate}"></td>
                <td th:text="${m.director}"></td>
                <td th:text="${m.duration+' min'}"></td>
                <td th:text="${m.movieTypes.movieTypes}"></td>
                <td id="function">
                    <a th:href="@{/movie/detail/__${m.id}__}" class="function-btn" id="detail">
                      <i class="bx bx-info-circle"></i>
                    </a>
                    <a href="#" class="function-btn" id="delete" th:attr="onclick=|deleteBySwal('${m.movieName}','${m.id}')|">
                        <i class="bx bx-trash" ></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- Pagination Start -->
    <div class="pagination">
        <a th:if="${moviePage.hasPrevious()}" th:href="@{/movie(page=${moviePage.number-1},name=${name})}" class="pagination-button" id="previous">
            <i class="bx bx-left-arrow-circle"></i>
        </a>
        <a th:if="${moviePage.hasNext()}" th:href="@{/movie(page=${moviePage.number+1},name=${name})}" class="pagination-button" id="next">
            <i class="bx bx-right-arrow-circle"></i>
        </a>
    </div>
    <!-- Pagination End -->
</section>
<script>
    // Call swal alert
    document.addEventListener("DOMContentLoaded", function () {
        let msg = document.getElementById("message").innerText;
        // Display a SweetAlert when the document is ready
        Swal.fire({
            title: msg,
            icon: 'success',
            timer: 2000, // Time in milliseconds (2 seconds)
            timerProgressBar: true,
            showConfirmButton: false // Hide the "Confirm" button
        });
    });

    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });
    searchBtn.addEventListener("click", () => {
        // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
        }
    }
</script>
<!--Delete-->
<form action="/movie/delete" id="deleteFormMethodPost" method="post">
    <input type="hidden" id="deleteIdInForm" name="id">
</form>
<script>
    function deleteBySwal(name, id) {
        document.getElementById("deleteIdInForm").value = id;
        Swal.fire({
            title: "Are you want to delete " + name + "?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("deleteFormMethodPost").submit();
                // Swal.fire("Deleted!", "Your file has been deleted.", "success");
            }
        });
    }
    // search
    document.getElementById("search-icon").addEventListener("click", function() {
        document.getElementById("search-form").submit();
    });
</script>
</body>
</html>
