<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>reset_pw</title>

</head>
<body>

<div class="background-img">
  <img
          class="background-sign-in"
          src="/static/img/background-sign-in.png"
          alt=""
  />
</div>


<div class="container">
  <div class="row">
    <form class="login" action="/new_pw" method="post" th:object="${account}" >
      <h1>Enter New Password</h1>
      <h3 th:text="${account.getEmail()}" ></h3>
      <input type="hidden" th:field="*{email}">
      <input type="hidden" th:field="*{id}">
      <input  id="form2Example5" name="new_pw" type="password" placeholder="Enter Your New Password">
      <input  id="form2Example6" type="password" placeholder="Confirm Password">
      <span style="color: red" id="message"></span>
      <button type="submit">Confirm</button>
    </form>
  </div>
</div>






<script>
  function checkRPW(){
    let pw=document.getElementById("form2Example5").value;
    let rpw=document.getElementById("form2Example6").value;
    let message=document.getElementById("message");
    if(pw.length>=6){
      if(pw===rpw){
        message.textContent="";
        document.getElementById('button').style.display='block';
      }else{
        message.textContent="Password not match.";
        message.style.color="#C71010FF"
        document.getElementById('button').style.display='none';
      }
    }else{
      message.textContent="Password must be at least 6 characters";
      message.style.color="#C71010FF";
      document.getElementById('button').style.display='none';

    }
  }
</script>
</body>
</html>