<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <style>
        .drop-area {
            width: 300px;
            height: 200px;
            border: 2px dashed #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .drop-area .highlight {
            background-color: #f0f0f0;
        }

        #preview-image {
            max-width: 100%;
            max-height: 300px;
            margin-top: 10px;
            object-fit: cover;
            object-position: center;
        }

    </style>
</head>
<body>
<h2>Update Customer</h2>
<button><a th:href="@{/customers}">Back to home</a></button>

<form th:action="@{/customers/update}" method="post" th:object="${customerDto}">
    <input type="hidden" th:field="*{id}"/>

    <div class="col-md-12">
        <p>Name</p>
        <input class="form-control" type="text" th:field="*{fullName}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('fullName')}"
           th:errors="*{fullName}"></p>
    </div>

    <div class="col-md-12">
        <p>Phone</p>
        <input class="form-control" type="number" th:field="*{phone}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('phone')}"
           th:errors="*{phone}"></p>
    </div>

    <div class="col-md-12">
        <p>Address</p>
        <input class="form-control" type="text" th:field="*{address}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('address')}"
           th:errors="*{address}"></p>
    </div>

    <div class="col-md-12">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" th:field="*{gender}" required>
            <option value="" disabled selected>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <p style="color: red" th:if="${#fields.hasErrors('gender')}"
           th:errors="*{gender}"></p>
    </div>

    <div class="col-md-12">
        <p>Date Of Birth</p>
        <input class="form-control" type="date" th:field="*{dob}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('dob')}"
           th:errors="*{dob}"></p>
    </div>

    <div id="drop-area" class="drop-area">
        <p>Drag and Drop an image here .</p>
        <img th:src="${customerDto.image}" alt="Preview" id="preview-image" style="display: none">
    </div>


    <button id="submit" type="submit"
            style="width: 130px;height: 40px;background: #3893cc;border-radius: 30px;color: whitesmoke">
        Submit
    </button>

</form>

<script th:inline="javascript">
    const dropArea = document.getElementById('drop-area');
    const previewImage = document.getElementById('preview-image');

    debugger

    dropArea.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropArea.classList.add('highlight');
    });

    dropArea.addEventListener('dragleave', () => {
        dropArea.classList.remove('highlight');
    });

    dropArea.addEventListener('drop', (e) => {
        e.preventDefault();
        dropArea.classList.remove('highlight');

        const file = e.dataTransfer.files[0];
        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();
            reader.onload = (event) => {
                previewImage.src = event.target.result;
                previewImage.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>
</body>
</html>