<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <style>
        .drop-area {
            width: 300px;
            height: 200px;
            border: 2px dashed #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .drop-area .highlight {
            background-color: #f0f0f0;
        }

        .preview-image {
            max-width: 100%;
            max-height: 300px;
            margin-top: 10px;
            object-fit: cover;
            object-position: center;
        }
        #image {
            border: 2px solid black;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<h2>Update Customer</h2>
<button><a th:href="@{/customers}">Back to home</a></button>

<form th:action="@{/customers/update}" method="post" th:object="${customerDto}">
    <input type="hidden" th:field="*{id}"/>

    <div class="col-md-12">
        <p>Name</p>
        <input class="form-control" type="text" th:field="*{fullName}"
               >
        <p style="color: red" th:if="${#fields.hasErrors('fullName')}"
           th:errors="*{fullName}"></p>
    </div>

    <div class="col-md-12">
        <p>Phone</p>
        <input class="form-control" type="number" th:field="*{phone}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('phone')}"
           th:errors="*{phone}"></p>
    </div>

    <div class="col-md-12">
        <p>Address</p>
        <input class="form-control" type="text" th:field="*{address}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('address')}"
           th:errors="*{address}"></p>
    </div>

    <div class="col-md-12">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" th:field="*{gender}" required>
            <option value="" disabled selected>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <p style="color: red" th:if="${#fields.hasErrors('gender')}"
           th:errors="*{gender}"></p>
    </div>

    <div class="col-md-12">
        <p>Date Of Birth</p>
        <input class="form-control" type="date" th:field="*{dob}"
               required>
        <p style="color: red" th:if="${#fields.hasErrors('dob')}"
           th:errors="*{dob}"></p>
    </div>


    <div id="dnd" class="preview form-control" style="margin-top: 5px">
        <input type="hidden" id="thumbnailURL" th:field="*{image}"/>
        <img id="image" src="" class="preview-img form-control"/>
    </div>


    <button id="submit" type="submit"
            style="width: 130px;height: 40px;background: #3893cc;border-radius: 30px;color: whitesmoke">
        Submit
    </button>

</form>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>
<script type="module">

    function renderBaseImg() {
        let path = document.getElementById("thumbnailURL").value;
        document.getElementById("image").src = path;
        document.getElementById("image").alt = "image";
    }

    renderBaseImg();
    const dndElement = document.querySelector('#dnd');
    const resultElement = document.querySelector('.preview');
    const validImageTypes = ['image/gif','image/jpeg','image/png'];

    dndElement.addEventListener('dragover', function (e){
        e.preventDefault();
        this.classList.add('drag-over');
    })

    dndElement.addEventListener('dragover', function (e){
        e.preventDefault();
        this.classList.remove('drag-over');
    })

    dndElement.addEventListener('drop', function (e){
        e.preventDefault()
        this.classList.remove('drag-over')
        const files = e.dataTransfer.files;
        const file = files[0];
        renderPreviewImage(file)
    })

    function renderPreviewImage(file){
        const fileType = file['type']
        if (!validImageTypes.includes(fileType)){
            resultElement.insertAdjacentHTML('beforeend',
                '<span class="preview-image"> Vui long chon anh </span>')
            return
        }
        const fileReader = new FileReader()
        fileReader.readAsDataURL(file)
        fileReader.onload = function (){
            const url = fileReader.result;
            document.getElementById("image").src = url;
            document.getElementById("image").alt = file.name;
            pushImage(file)
        }
    }

    //paste here your copied configuration code
    const firebaseConfig = {
        apiKey: "AIzaSyCp05n7nwMvb43hJJZZVQn4ucIPKa2_gkA",
        authDomain: "retro-cinema-99f73.firebaseapp.com",
        projectId: "retro-cinema-99f73",
        storageBucket: "retro-cinema-99f73.appspot.com",
        messagingSenderId: "408180950215",
        appId: "1:408180950215:web:4b49fe816a9038473eaae2",
        measurementId: "G-8MJW1J4QL7"
    };

    firebase.initializeApp(firebaseConfig);

    function pushImage(file){
        let random = Math.random().toString(36).substring(7);
        let storageRef = firebase.storage().ref("user/" + random);
        let task = storageRef.put(file);
        task.on('state_changed', function progress(snapshot){
            let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) *100;
            uploader.value = percentage;
            if (percentage === 100){
                document.getElementById('submit').removeAttribute('disable');
            }else {
                document.getElementById('submit').setAttribute('disable','disable');
            }
        });
        task.then(snapshot => snapshot.ref.getDownloadURL()).then(
            url => {
                document.getElementById('thumbnailURL').value = url;
            });
    }

</script>
</body>
</html>