<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/screenings/addScreenings}" method="post" th:object="${screeningsDto}">
    <select th:field="*{movie}">
        <option value="">Choose movie</option>
        <th:block th:each="m:${movieList}">
            <option th:value="${m.id}" th:text="${m.getMovieName()}"></option>
        </th:block>
    </select>
    <small th:if="${#fields.hasErrors('movie')}" th:errors="*{movie}"></small>
    <select th:field="*{showTimes}">
        <option value="">Choose screenings</option>
        <th:block th:each="m:${showTimesList}">
            <option th:value="${m.id}" th:text="${m.getStartTime()}+'-'+${m.getEndTime()}+'-'+${m.getRoomName()}"></option>
        </th:block>
    </select>
    <small th:if="${#fields.hasErrors('showTimes')}" th:errors="*{showTimes}"></small>
    <input type="date" th:field="*{dateMovie}">
    <small th:if="${#fields.hasErrors('dateMovie')}" th:errors="*{dateMovie}"></small>
    <input type="submit">
    <p th:if="${mess}" th:text="${mess}"></p>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>