<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Ordinal number</th>
        <th>Movie name</th>
        <th>Booking date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Room name</th>
    </tr>
    <tr th:each="s,status:${screenings}">
        <td th:text="${status.count}"></td>
        <td th:text="${s.getMovie().getMovieName()}"></td>
        <td th:text="${s.getDateMovie()}"></td>
        <td th:text="${s.getShowTimes().getStartTime()}"></td>
        <td th:text="${s.getShowTimes().getEndTime()}"></td>
        <td th:text="${s.getShowTimes().getRooms().getRoomName()}"></td>
    </tr>
</table>
<a th:if="${screenings.hasPrevious()}" th:href="@{/screenings/list(page=${screenings.number-1})}"
   style="color: black">Prev</a>
<span th:text="${screenings.number+1}"></span>/<span th:text="${screenings.totalPages}"></span>
<a th:if="${screenings.hasNext()}" th:href="@{/screenings/list(page=${screenings.number+1})}" style="color: black">Next</a>
</body>
</html>