<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/screenings/listByNameMovie}" method="post">
    <input type="date" th:name="date">
    <input type="submit">
</form>
<table>
    <tr>
        <th>Ordinal number</th>
        <th>Movie name</th>
        <th>Booking date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Room name</th>
    </tr>
    <tr th:each="s,status:${screeningsList}">
        <td th:text="${status.count}"></td>
        <td th:text="${s.getMovie().getMovieName()}"></td>
        <td th:text="${s.getDateMovie()}"></td>
        <td th:text="${s.getShowTimes().getStartTime()}"></td>
        <td th:text="${s.getShowTimes().getEndTime()}"></td>
        <td th:text="${s.getShowTimes().getRooms().getRoomName()}"></td>
    </tr>
</table>
</body>
</html>