<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/ticket.css" />
    <title>Ticket</title>
  </head>
  <body>
    <div class="ticket">
      <div class="left">
        <div class="image">
          <img
            class="image-item"
            src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6408f6e7b5811271dc883aa8_batman-min.png"
            alt=""
          />
          <p class="admit-one">
            <span>RetroCinema</span>
            <span>RetroCinema</span>
          </p>
        </div>
        <div class="ticket-info">
          <p class="date">
            <span class="june-29">2023-01-01</span>
          </p>
          <div class="show-name">
            <h2>Movie Name</h2>
          </div>
          <div class="time">
            <p>8:00 PM <span>TO</span> 11:00 PM @</span> Room</p> </p>
            <p>Seat Name<span>
          </div>
          <p class="location">
            <span>Retro Cinema</span>
            <span class="separator"><i class="far fa-smile"></i></span
            ><span>280 Tran Hung Dao St.</span>
          </p>
        </div>
      </div>
      <div class="right">
        <p class="admit-one">
          <span>RetroCinema</span>
          <span>RetroCinema</span>
        </p>
        <div class="right-info-container">
          <div class="show-name">
            <h1>Movie</h1>
          </div>
          <div class="time">
            <p>8:00 PM <span>@</span>Room</p>
            <p>Seat</p>
          </div>
          <div class="barcode">
            <img
              src="https://external-preview.redd.it/cg8k976AV52mDvDb5jDVJABPrSZ3tpi1aXhPjgcDTbw.png?auto=webp&s=1c205ba303c1fa0370b813ea83b9e1bddb7215eb"
              alt="QR code"
            />
          </div>
          <p class="ticket-number">#20030220</p>
        </div>
      </div>
    </div>
  </body>
</html>
